.panda-info-bg {
    background-color: #fceae8;
}

.panda-red-gradient {
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #FFFFFF;
}

.panda-red-gradient:hover {
    color: #FFFFFF;
}

.panda-warning-bg {
    background-color: orange;
}

.panda-secondary-bg {
    background-color: orchid;
}

.panda-primary-bg {
    background-color: blue;
}